.ByMonths {
    position: relative;
    display: flex;

    &__Main {}

    &__OX {
        position: absolute;
        left: 86px;
        top: 0;
    }
    
    &__OY {
        position: absolute;
        left: 9px;
        top: 50px;
    }

    &__Aside {
        width: 292px;
    }
}

.ByMonths:before {
    content: 'HEAT MATRIX #2';
    position: absolute;
    top: 206px;
    left: -188px;
    transform: rotate(-90deg);
    font-size: 35px;
    letter-spacing: 0px;
    color: #ccc;
}