.ByWeeks {
    position: relative;
    display: flex;
    justify-content: flex-start;

    &__Main {}

    &__OX {
        position: absolute;
        left: 60px;
        top: 0;
    }
    
    &__OY {
        position: absolute;
        left: 6px;
        top: 50px;
    }

    &__Aside {
        @media (max-width: 1150px) {
            width: 150px !important;
        }
        & .Item {
            @media (max-width: 1150px) {
                margin: 5px !important;
            }
            @media (min-width: 1300px) {
                width: 200px;
            }
        }
    }
}

.ByWeeks:before {
    content: 'HEAT MATRIX #1';
    position: absolute;
    top: 88px;
    left: -188px;
    transform: rotate(-90deg);
    font-size: 35px;
    letter-spacing: 0px;
    color: #ccc;
}