.ByWeeks {
    position: relative;
    display: flex;

    &__Main {}

    &__OX {
        position: absolute;
        left: 60px;
        top: 0;
    }
    
    &__OY {
        position: absolute;
        left: 6px;
        top: 50px;
    }
}