.ByWeeks {
    position: relative;

    &__Main {}

    &__OX {
        position: absolute;
        left: 0;
        top: -50px;
    }
    
    &__OY {
        position: absolute;
        left: -50px;
        top: 0;
    }
}