.SeasonsSeries {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 50px;

    &__ByWeeks {
        margin-bottom: 50px;
    }

    &__ByMonths {
        margin-bottom: 50px;
    }
}